# ë‹¹ì‹ ì˜ ì‚¬ìƒì˜í•™ ì²´ì§ˆì€?

## 1. ë°ì´í„° ì „ì²˜ë¦¬
## 2. Featuresì— ì ìˆ˜ ë¶€ì—¬í•˜ê¸°
## 3. ëª¨ë¸ë§
## 4. ê²°ë¡

## 1. ë°ì´í„° ì „ì²˜ë¦¬

In [315]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns ; sns.set()

In [340]:
import warnings; warnings.simplefilter('ignore')

In [341]:
data = pd.read_excel('LEE_JAEMA.xlsx')

In [342]:
df = pd.DataFrame(data)

In [343]:
df.rename(columns={'íƒ€ì„ìŠ¤íƒ¬í”„':'time', "0-1. ê·€í•˜ì˜ ì„±ë³„ì€ ì–´ë–»ê²Œë˜ë‚˜ìš”?":'gender', '0-2. ê·€í•˜ì˜ ë‚˜ì´ëŠ” ì–´ë–»ê²Œë˜ë‚˜ìš”?':'age',
                  '1-1.ê·€í•˜ì˜ ì„±ê²©ìƒì˜ ì¥ì ì€ ë¬´ì—‡ì¸ê°€ìš”? (ìë¼ë©´ì„œì„±ê²©ì´ ë°”ë€Œì—ˆë‹¤ë©´ ë°”ë€Œê¸° ì „ì— ë³¸ì—°ì˜ ì„±í–¥ ì¤‘ ê°€ì¥ ë§ì´ í•´ë‹¹í•˜ëŠ” ê²ƒìœ¼ë¡œ í•œê°€ì§€ë§Œ ì„ íƒí•˜ì„¸ìš”)':"good",
                  '1-2. ê·€í•˜ì˜ ì„±ê²©ìƒì˜ ë‹¨ì ì€ ë¬´ì—‡ì¸ê°€ìš”? (ìë¼ë©´ì„œì„±ê²©ì´ ë°”ë€Œì—ˆë‹¤ë©´ ë°”ë€Œê¸° ì „ì— ë³¸ì—°ì˜ ì„±í–¥ ì¤‘ ê°€ì¥ ë§ì´ í•´ë‹¹í•˜ëŠ” ê²ƒìœ¼ë¡œ í•œê°€ì§€ë§Œ ì„ íƒí•˜ì„¸ìš”)':'bad',
                  '2-1. ê·€í•˜ì˜ í‰ì†Œ ê²½í–¥ì„±ì€ ë¬´ì—‡ì¸ê°€ìš”? (í‰ì†Œ ìì‹ ì˜ ì„±í–¥ì— ê°€ì¥ ë§ì´ í•´ë‹¹í•˜ëŠ” ê²ƒì„ í•œ ê°€ì§€ë§Œ ì„ íƒí•˜ì„¸ìš”)':'tendency','3-1. ê·€í•˜ê°€ ì•„ë˜ì˜ ìŒì‹ ì¤‘, í‰ì†Œ ì„­ì·¨ í›„ â€˜ë‘ ë²ˆ ì¤‘ í•œ ë²ˆ ì´ìƒ ì†Œí™”ë¶ˆëŸ‰, ì„¤ì‚¬, ë³µí†µ, ë³€ë¹„, ë¶ˆë©´, ê°€ìŠ´ ë‘ê·¼ê±°ë¦¼, ì•Œë ˆë¥´ê¸°â€™ ë“±ì˜ ì´ìƒë°˜ì‘ì´ ìˆëŠ” ê°œìˆ˜ëŠ”?':'food1',
                  '3-2.ê·€í•˜ê°€ ì•„ë˜ì˜ ìŒì‹ ì¤‘, í‰ì†Œ ì„­ì·¨ í›„ â€˜ë‘ ë²ˆ ì¤‘ í•œ ë²ˆ ì´ìƒ ì†Œí™”ë¶ˆëŸ‰, ì„¤ì‚¬, ë³µí†µ, ë³€ë¹„, ë¶ˆë©´, ê°€ìŠ´ ë‘ê·¼ê±°ë¦¼, ì•Œë ˆë¥´ê¸°â€™ ë“±ì˜ ì´ìƒë°˜ì‘ì´ ìˆëŠ” ê°œìˆ˜ëŠ”?':'food2',
                  '4-1. ê·€í•˜ëŠ” ì‹ì‚¬ì‹œ í•œë²ˆì— ì„­ì·¨í•˜ëŠ” ìŒì‹ëŸ‰ì´ ì–´ë–»ê²Œ ë˜ë‚˜ìš”?':'pig',
                  '5-1. ê·€í•˜ëŠ” í‰ì†Œ ë•€ì„ ì–¼ë§ˆë‚˜ í˜ë¦¬ë‚˜ìš”? (ê°€ì¥ê°€ê¹ë‹¤ê³  ìƒê°ë˜ëŠ” ì„ íƒì§€ë¥¼ ì„ íƒí•´ì£¼ì„¸ìš”)':'sweat',
                  '6-1. ê·€í•˜ì˜ í‰ì†Œ ğŸ’©ìƒíƒœëŠ” ì–´ë–¤ê°€ìš”? (ê°€ì¥ê°€ê¹ë‹¤ê³  ìƒê°ë˜ëŠ” ì„ íƒì§€ë¥¼ ì„ íƒí•´ì£¼ì„¸ìš”)':'big',
                  '7-1. ê·€í•˜ì˜ ì†Œë³€ìƒíƒœëŠ” ì–´ë–¤ê°€ìš”? (ê°€ì¥ê°€ê¹ë‹¤ê³  ìƒê°ë˜ëŠ” ì„ íƒì§€ë¥¼ ì„ íƒí•´ì£¼ì„¸ìš”)':'small',
                  '8-1. ê·€í•˜ì˜ ì „ë°˜ì ì¸ ëª¸ ìƒíƒœëŠ” ì–´ë–¤ê°€ìš”? (ê°€ì¥ê°€ê¹ë‹¤ê³  ìƒê°ë˜ëŠ” ì„ íƒì§€ë¥¼ ì„ íƒí•´ì£¼ì„¸ìš”)':'body',
                  '9-1. ê·€í•˜ì˜ ì‹ ì²´ ê³¨ê²©ì€ ì•„ë˜ì˜ ì‚¬ì§„ ì¤‘ ì–´ë””ì— ì œì¼ ê°€ê¹Œìš´ ê²ƒ ê°™ë‚˜ìš”? (ê°€ì¥ê°€ê¹ë‹¤ê³  ìƒê°ë˜ëŠ” ì„ íƒì§€ë¥¼ ì„ íƒí•´ì£¼ì„¸ìš”)':'bone',
                  },inplace=True)

In [344]:
df.drop(['time', 'gender','age','ê°ì‚¬í•©ë‹ˆë‹¤ ğŸ˜† ì´ë©”ì¼ì„ ë‚¨ê²¨ì£¼ì„¸ìš”~'], axis='columns', inplace=True)

In [345]:
df.loc[ df['good'].str.contains('ì´ì„±ì '), 'good' ] = '2'

In [346]:
df.loc[ df['good'].str.contains('ì›ë§Œí•¨'), 'good' ] = '1'
df.loc[ df['good'].str.contains('ì´ì„±ì '), 'good' ] = '2'
df.loc[ df['good'].str.contains('ì•„ì´ë””ì–´'), 'good' ] = '3'
df.loc[ df['good'].str.contains('ì§„ì·¨ì '), 'good' ] = '4'

df.loc[ df['bad'].str.contains('ìš•ì‹¬'), 'bad' ] = '1'
df.loc[ df['bad'].str.contains('ë‚´ì„±ì '), 'bad' ] = '2'
df.loc[ df['bad'].str.contains('ê°€ë²¼ì›€'), 'bad' ] = '3'
df.loc[ df['bad'].str.contains('ë…ì„ '), 'bad' ] = '4'

df.loc[ df['tendency'].str.contains('íŠ¹ì •í•œ'), 'tendency' ] = '3'
df.loc[ df['tendency'].str.contains('ì‚¬íšŒì˜'), 'tendency' ] = '2'
df.loc[ df['tendency'].str.contains('ì¬ë¬¼'), 'tendency' ] = '1'
df.loc[ df['tendency'].str.contains('ì˜ˆì˜ë²”ì ˆì´ë‚˜'), 'tendency' ] = '4'

df.loc[ df['food1'].str.contains('4ê°œ'), 'food1' ] = '1'
df.loc[ df['food1'].str.contains('1~3ê°œ'), 'food1' ] = '2'
df.loc[ df['food1'].str.contains('í•´ë‹¹ì‚¬í•­ ì—†ìŒ'), 'food1' ] = '3'

df['food2']=df['food2'].fillna('3')
df.loc[ df['food2'].str.contains('1 ~ 3ê°œ'), 'food2' ] = '2'
df.loc[ df['food2'].str.contains('í•´ë‹¹ì‚¬í•­ ì—†ìŒ'), 'food2' ] = '3'

df.loc[ df['pig'].str.contains('í•œë¼ì—'), 'pig' ] = '1'
df.loc[ df['pig'].str.contains('ì ê²Œ'), 'pig' ] = '2'

df.loc[ df['sweat'].str.contains('ë•€ì„'), 'sweat' ] = '1'
df.loc[ df['sweat'].str.contains('ìš´ë™ì„'), 'sweat' ] = '2'
df.loc[ df['sweat'].str.contains('ë”ìœ„ë¥¼'), 'sweat' ] = '3'

df['big']=df['big'].fillna('2')
df.loc[ df['big'].str.contains('ì„¤ì‚¬ê°€'), 'big' ] = '1'
df.loc[ df['big'].str.contains('êµµë‹¤'), 'big' ] = '2'
df.loc[ df['big'].str.contains('ë³€ë¹„ê°€'), 'big' ] = '3'


df.loc[ df['small'].str.contains('ìì‹ ì´'), 'small' ] = '1'
df.loc[ df['small'].str.contains('ì•Šë‹¤'), 'small' ] = '2'

df.loc[ df['body'].str.contains('ì°¨ê³ '), 'body' ] = '1'
df.loc[ df['body'].str.contains('ë”ìœ„ë¥¼'), 'body' ] = '2'

## 2. Featuresì— ì ìˆ˜ ë¶€ì—¬í•˜ê¸°

In [347]:
df['good'].replace('1', 13,inplace=True)
df['good'].replace('2', 18,inplace=True)
df['good'].replace('3', 8,inplace=True)
df['good'].replace('4', 3,inplace=True)

df['bad'].replace('1', 12,inplace=True)
df['bad'].replace('2', 17,inplace=True)
df['bad'].replace('3', 7,inplace=True)
df['bad'].replace('4', 2,inplace=True)

df['character']=df['good']+df['bad']

In [348]:
df['tendency'].replace('3', 5,inplace=True)
df['tendency'].replace('2', 15,inplace=True)
df['tendency'].replace('1', 10,inplace=True)
df['tendency'].replace('4', 0,inplace=True)

In [349]:
df['food_total'] = 0
df.loc[df['food1']=='1','food1']=50
df.loc[df['food1']=='2', 'food1']=40
df.loc[df['food2']=='2', 'food2']=20
df.loc[df['food2']=='1','food2']=10
df.loc[df['food1']=='3','food1']=25
df.loc[df['food2']=='3','food2']=5
df.loc[(df['food1']=='3')&(df['food2']=='3'),'food_total']=30
df.loc[(df['food1']=='1')&(df['food2']=='1'),'food_total']=50


df.loc[(df['food_total']==0)&((df['character']+df['tendency'])< 35)&(df['food1']>df['food2']), 'food_total']= df['food2']
df.loc[(df['food_total']==0)&((df['character']+df['tendency'])< 35)&(df['food1']<=df['food2']), 'food_total']= df['food1']
df.loc[(df['food_total']==0)&((df['character']+df['tendency'])>= 35)&(df['food1']>df['food2']), 'food_total']= df['food1']
df.loc[(df['food_total']==0)&((df['character']+df['tendency'])>= 35)&(df['food1']<=df['food2']), 'food_total']= df['food2']

In [350]:
df.head()

,good,bad,tendency,food1,food2,pig,sweat,big,small,body,bone,character,food_total
0,18,12,5,25,5,1,1,1,1,2,2,30,25
1,18,17,5,40,5,2,2,3,1,1,3,35,40
2,8,7,15,25,5,1,1,2,1,2,3,15,5
3,18,12,5,25,5,1,3,2,1,2,2,30,25
4,13,12,10,25,5,1,3,1,1,2,2,25,25

In [351]:
df['pig'].replace('1', 10,inplace=True)
df['pig'].replace('2', 20,inplace=True)

df['sweat'].replace('2', 30,inplace=True)
df['sweat'].replace('1', 20,inplace=True)
df['sweat'].replace('3', 10,inplace=True)

df['big'].replace('1', 50,inplace=True)
df['big'].replace('2', 25,inplace=True)
df['big'].replace('3', 0,inplace=True)

In [352]:
df1 = df[{'food_total','character','tendency','pig','sweat','big'}]

In [353]:
df1['sum']=df1['food_total']+df1['character']+df1['tendency']+df1['pig']+df1['sweat']+df1['big']

In [354]:
df1.head()

   food_total  character  big  sweat  tendency  pig  sum
0          25         30   50     20         5   10  140
1          40         35    0     30         5   20  130
2           5         15   25     20        15   10   90
3          25         30   25     10         5   10  105
4          25         25   50     10        10   10  130

In [355]:
df1.loc[df1['sum']<47.5,'result']='íƒœì–‘ì¸'
df1.loc[(df1['sum']>=47.5)&(df1['sum']<97.5),'result']='ì†Œì–‘ì¸'
df1.loc[(df1['sum']>=97.5)&(df1['sum']<142.5),'result']='íƒœìŒì¸'
df1.loc[df1['sum']>=142.5,'result']='ì†ŒìŒì¸'

In [356]:
df1.head()

   food_total  character  big  sweat  tendency  pig  sum result
0          25         30   50     20         5   10  140    íƒœìŒì¸
1          40         35    0     30         5   20  130    íƒœìŒì¸
2           5         15   25     20        15   10   90    ì†Œì–‘ì¸
3          25         30   25     10         5   10  105    íƒœìŒì¸
4          25         25   50     10        10   10  130    íƒœìŒì¸

## 3. ëª¨ë¸ë§

In [357]:
traing_data = df1[['food_total','character','tendency','big','pig','sweat']]
target_data = df1[['result']]

In [358]:
traing_data.head()

   food_total  character  tendency  big  pig  sweat
0          25         30         5   50   10     20
1          40         35         5    0   20     30
2           5         15        15   25   10     20
3          25         30         5   25   10     10
4          25         25        10   50   10     10

In [359]:
target_data.head()

  result
0    íƒœìŒì¸
1    íƒœìŒì¸
2    ì†Œì–‘ì¸
3    íƒœìŒì¸
4    íƒœìŒì¸

In [360]:
from sklearn.model_selection import train_test_split

In [361]:
X_train,X_test,y_train, y_test = train_test_split(traing_data,target_data)

### 3-1. ëœë¤í¬ë ˆìŠ¤íŠ¸

In [362]:
from sklearn.ensemble import RandomForestClassifier

In [363]:
rf = RandomForestClassifier(criterion='entropy', n_estimators=150, random_state=0, max_depth=2)
rf_model = rf.fit(X_train, y_train)
y_pred_train = rf_model.predict(X_train)
y_pred_test = rf_model.predict(X_test)

In [364]:
print("í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: {:.2f}".format(rf_model.score(X_train, y_train)))
print("í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: {:.2f}".format(rf_model.score(X_test, y_test)))

í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: 0.79
í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: 0.68

### 3-2. ì„œí¬íŠ¸ë²¡í„°ë¨¸ì‹

In [365]:
from sklearn.svm import SVC

In [366]:
svc = SVC(kernel='rbf', class_weight='balanced')

In [367]:
svm = svc.fit(X_train, y_train)

In [368]:
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10, 50],
              'gamma': [0.0001, 0.0005, 0.001, 0.005]}
grid = GridSearchCV(svm, param_grid)

%time grid.fit(X_train, y_train)
print(grid.best_params_)

Wall time: 471 ms
{'C': 50, 'gamma': 0.0001}

ìµœì  C(ê·œì œ ë§¤ê°œë³€ìˆ˜) = 50, ìµœì  gamma(ì»¤ë„ì˜ í­) = 0.0001

In [369]:
model = grid.best_estimator_
y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

In [370]:
print("í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: {:.2f}".format(model.score(X_train, y_train)))
print("í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: {:.2f}".format(model.score(X_test, y_test)))

í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: 0.92
í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: 0.82

### 3-3. ë¡œì§€ìŠ¤í‹±ìŠ¤

In [371]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression()
log_model = log_reg.fit(X_train, y_train)
y_pred_train = log_model.predict(X_train)
y_pred_test = log_model.predict(X_test)

In [372]:
print("í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: {:.2f}".format(log_model.score(X_train, y_train)))
print("í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: {:.2f}".format(log_model.score(X_test, y_test)))

í›ˆë ¨ ì„¸íŠ¸ ì •í™•ë„: 0.79
í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„: 0.73

## 4. ê²°ë¡

### ì„œí¬íŠ¸ë²¡í„° ë¨¸ì‹ ì´ í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„ 0.82ìœ¼ë¡œ ê°€ì¥ ë†’ìŒ.

In [373]:
y_pred = model.predict(traing_data)

In [374]:
y_pred

array(['ì†ŒìŒì¸', 'íƒœìŒì¸', 'ì†Œì–‘ì¸', 'íƒœìŒì¸', 'íƒœìŒì¸', 'íƒœìŒì¸', 'íƒœìŒì¸', 'íƒœìŒì¸', 'íƒœìŒì¸',
       'íƒœìŒì¸', 'ì†Œì–‘ì¸', 'íƒœìŒì¸', 'ì†ŒìŒì¸', 'ì†Œì–‘ì¸', 'íƒœìŒì¸', 'íƒœì–‘ì¸', 'ì†ŒìŒì¸', 'ì†Œì–‘ì¸',
       'íƒœìŒì¸', 'ì†Œì–‘ì¸', 'ì†Œì–‘ì¸', 'íƒœìŒì¸', 'ì†Œì–‘ì¸', 'ì†ŒìŒì¸', 'ì†ŒìŒì¸', 'ì†Œì–‘ì¸', 'ì†Œì–‘ì¸',
       'ì†Œì–‘ì¸', 'ì†Œì–‘ì¸', 'íƒœìŒì¸', 'ì†ŒìŒì¸', 'ì†Œì–‘ì¸', 'íƒœì–‘ì¸', 'íƒœìŒì¸', 'ì†ŒìŒì¸', 'íƒœìŒì¸',
       'ì†ŒìŒì¸', 'íƒœìŒì¸', 'íƒœìŒì¸', 'íƒœìŒì¸', 'íƒœìŒì¸', 'íƒœì–‘ì¸', 'íƒœìŒì¸', 'ì†Œì–‘ì¸', 'ì†ŒìŒì¸',
       'íƒœìŒì¸', 'ì†Œì–‘ì¸', 'ì†Œì–‘ì¸', 'ì†Œì–‘ì¸', 'íƒœìŒì¸', 'íƒœìŒì¸', 'ì†ŒìŒì¸', 'íƒœìŒì¸', 'ì†ŒìŒì¸',
       'ì†ŒìŒì¸', 'íƒœìŒì¸', 'ì†Œì–‘ì¸', 'íƒœìŒì¸', 'íƒœìŒì¸', 'íƒœìŒì¸', 'íƒœìŒì¸', 'íƒœìŒì¸', 'íƒœìŒì¸',
       'íƒœìŒì¸', 'íƒœìŒì¸', 'ì†Œì–‘ì¸', 'íƒœìŒì¸', 'ì†Œì–‘ì¸', 'ì†Œì–‘ì¸', 'ì†Œì–‘ì¸', 'íƒœìŒì¸', 'íƒœìŒì¸',
       'ì†ŒìŒì¸', 'íƒœìŒì¸', 'ì†Œì–‘ì¸', 'íƒœìŒì¸', 'ì†ŒìŒì¸', 'ì†Œì–‘ì¸', 'íƒœìŒì¸', 'ì†Œì–‘ì¸', 'ì†Œì–‘ì¸',
       'íƒœìŒì¸', 'íƒœìŒì¸', 'ì†Œì–‘ì¸', 'ì†ŒìŒì¸', 'íƒœìŒì¸', 'ì†ŒìŒì¸', 'íƒœìŒì¸'], dtype=object)